.cards-container{
    max-height: 500px;
    overflow-y: auto; 
    display: flex;
    flex-direction: column; 
    gap: 16px;
    scroll-behavior: smooth;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.cards-container .MuiCard-root {
    min-height: 300px; 
    max-height: 300px; 
    min-width: 400px;
    display: flex; 
}
